.grid-container{
    display: grid;
    grid-template-columns:  300px 300px 300px;
    gap: 1em;
    grid-auto-rows: 300px;
    
}


.item{
    padding: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 2rem;
}