body{
    background-color: black;
}

#main-content{
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

p{
    color: white;
    text-align: center;
}